html, body{
	height: 100%;
}
.wrapper{
	min-height: 100%;
	margin: 0 auto -30px;
}
footer 
{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
	bottom:0;
	width:100%;
}
#menu {
	/*width:15%;*/
	/*float: left;*/
	/*margin: 1%;*/
}
#enggbranches li{
	padding: 1px 0;
}

#enggbranches{
	padding: 1px 0;
}
#custom_menu li{
	padding: 2px 0 0 0;
}
#enggbranches ul li{
	/*background-color: #eb93a8;*/
}
#menu .menuheads{
	text-align: center;
	color: white;
	background-color: #951b38;
}
#menu .menuheads:hover{
	background-color: #ebb812;
	color: #951b38;
}
/*.sectionbranches{
	background-color: #f2f2f2;
}*/
#content{
	/*width: 81%;*/
	/*float: right;*/
	/*margin: 1%;*/
	/*overflow: auto;*/
}
#loadinggif{
	bottom: 100px;
    margin-left: 4%;
    position: fixed;
}
#report_form_div, #attendance_form_div, #modify_form_div, #lectcancel_form_div, #search_form_div, #list_form_div{
	float: center;
	text-align: center;
}
.datacell{
	min-width: 70px;
}
/*table{
	table-layout: fixed;
}*/
#studrep{
	text-align: left;
}
#heading{
	text-align: center;
	display: initial;
	margin: 0 22%;
	min-height: 170px;
}
#logo{
	float:left;
	display: inline-block;
}
#logo_img{
	height: 120px;
	width: 70px;
}
#login_form{
	margin-top: 13%;
}
#forgot_pass_modal, .admin_label{
	text-align: center;
}
#modal_anchor{
	padding-left: 50%;
}
#register_anchor, #admin_anchor{
	display: block;
	padding-left: 35%;
}
#notification{
	margin: 5% 20%;
	width: 60%;
	text-align: -webkit-center;
}
label.error{
	color:red;
	float:right;
}
#greet{
	font-size: 20px;
	display: -webkit-inline-box;
}
.content2{
	text-align: left;
}
.critical{
	background-color: #ff6666;
}
.defaulter{
	background-color: #ffd633;
}
.glyphicon-sort{
	float: right;
}
#create_batches_div, #preview{
	max-height: 10cm;
	overflow: auto;
}
table[name^="days_table"]{
	width: 6cm;
	display: inline;
}
#response{
	text-align: center;
	position: fixed;
    width: 50%;
    top: 20px;
    margin: 0 20% 0 30%;
}
.panel a{
	color: #337ab7;
}
#generated_list{
	text-align: left;
}